
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Python-harjoitustehtavia.iml
.idea/vcs.xml
.DS_Store
Ohjelmointi_2/tutnti.py
Ohjelmointi_2/tunti_12.py
Ohjelmointi_2/tunti_13.py
Ohjelmointi_2/13_Taustapalvelun_ja_rajapinnan_rakentaminen/.env
.idea/dataSources.xml
Ohjelmointi_2/13_Taustapalvelun_ja_rajapinnan_rakentaminen/__pycache__/db_connection.cpython-313.pyc
Ohjelmointi_2/tunti_13.py
Ohjelmointi_2/13_Taustapalvelun_ja_rajapinnan_rakentaminen/.env
