
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Python-harjoitustehtavia.iml
.idea/vcs.xml
.DS_Store
Ohjelmointi_2/tutnti.py
